---
nameOverride: ""
fullnameOverride: ""

global:
  imageRegistry: "{{ jumpserver_image_registry }}"
  imageOwner: "jumpserver"
  imagePullSecrets: []
  storageClass: "{{ jumpserver_storage_class }}"

externalDatabase:
  engine: mysql
{% if jumpserver_external_mysql_enabled | bool %}
  host: "{{ jumpserver_external_mysql_host }}"
  port: {{ jumpserver_external_mysql_port }}
{% else %}
  host: "{{ jumpserver_mysql_name }}.{{ jumpserver_namespace }}.svc.cluster.local"
  port: 3306
{% endif %}
  user: "{{ jumpserver_mysql_user }}"
  password: "{{ jumpserver_mysql_password }}"
  database: "{{ jumpserver_mysql_database }}"

externalSentinel: {}

externalRedis:
{% if jumpserver_external_redis_enabled | bool %}
  host: "{{ jumpserver_external_redis_host }}"
  port: {{ jumpserver_external_redis_port }}
{% else %}
  host: "{{ jumpserver_redis_name }}.{{ jumpserver_namespace }}.svc.cluster.local"
  port: 6379
{% endif %}
  password: "{{ jumpserver_redis_password }}"

serviceAccount:
  create: false
  name:

ingress:
  enabled: false

core:
  enabled: true
  config:
    secretKey: "{{ jumpserver_secret_key }}"
    bootstrapToken: "{{ jumpserver_bootstrap_token }}"
    debug: false
    log:
      level: ERROR
  replicaCount: {{ jumpserver_core_replica_count }}
  image:
    registry: "{{ jumpserver_image_registry }}"
    pullPolicy: IfNotPresent
  env:
    SESSION_EXPIRE_AT_BROWSER_CLOSE: true
    DOMAINS: "{{ jumpserver_hostname }}"
  service:
    type: ClusterIP
    web:
      port: 8080
  persistence:
    storageClassName: {{ jumpserver_storage_class }}
    accessModes:
      - ReadWriteOnce
    size: 20Gi
    annotations:
      "helm.sh/resource-policy": keep
    finalizers:
      - kubernetes.io/pvc-protection
  resources:
    requests:
      cpu: 500m
      memory: 1024Mi
    limits:
      cpu: "2"
      memory: 2048Mi

koko:
  enabled: true
  replicaCount: {{ jumpserver_koko_replica_count }}
  image:
    registry: "{{ jumpserver_image_registry }}"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    web:
      port: 5000
    ssh:
      port: 2222
  persistence:
    storageClassName: {{ jumpserver_storage_class }}
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    annotations:
      "helm.sh/resource-policy": keep
    finalizers:
      - kubernetes.io/pvc-protection

lion:
  enabled: true
  replicaCount: {{ jumpserver_lion_replica_count }}
  image:
    registry: "{{ jumpserver_image_registry }}"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    web:
      port: 8081
  persistence:
    storageClassName: {{ jumpserver_storage_class }}
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    annotations:
      "helm.sh/resource-policy": keep
    finalizers:
      - kubernetes.io/pvc-protection

chen:
  enabled: true
  replicaCount: {{ jumpserver_chen_replica_count }}
  image:
    registry: "{{ jumpserver_image_registry }}"
    pullPolicy: IfNotPresent

celery:
  enabled: true
  replicaCount: {{ jumpserver_celery_replica_count }}
  image:
    registry: "{{ jumpserver_image_registry }}"
    pullPolicy: IfNotPresent

web:
  enabled: true
  replicaCount: {{ jumpserver_web_replica_count }}
  image:
    registry: "{{ jumpserver_image_registry }}"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    web:
      port: 80
