apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
  labels:
    app.kubernetes.io/name: kube-vip
spec:
  hostNetwork: true
  restartPolicy: Always
  containers:
    - name: kube-vip
      image: "{{ kube_vip_image }}:{{ kube_vip_version }}"
      imagePullPolicy: IfNotPresent
      args:
        - manager
      env:
        - name: vip_arp
          value: "{{ 'true' if kube_vip_arp else 'false' }}"
        - name: port
          value: "{{ kube_vip_port | string }}"
        - name: vip_nodename
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: vip_interface
          value: "{{ kube_vip_interface }}"
        - name: vip_subnet
          value: "{{ kube_vip_subnet | string }}"
        - name: address
          value: "{{ kube_vip_address }}"
        - name: dns_mode
          value: first
        - name: dhcp_mode
          value: ipv4
        - name: cp_enable
          value: "{{ 'true' if kube_vip_cp_enable else 'false' }}"
        - name: cp_namespace
          value: kube-system
        - name: svc_enable
          value: "{{ 'true' if kube_vip_svc_enable else 'false' }}"
        - name: svc_leasename
          value: "{{ kube_vip_lease_name_svc }}"
        - name: vip_leaderelection
          value: "{{ 'true' if kube_vip_leader_election else 'false' }}"
        - name: vip_leasename
          value: "{{ kube_vip_lease_name_cp }}"
        - name: vip_leaseduration
          value: "{{ kube_vip_lease_duration | string }}"
        - name: vip_renewdeadline
          value: "{{ kube_vip_renew_deadline | string }}"
        - name: vip_retryperiod
          value: "{{ kube_vip_retry_period | string }}"
        - name: lb_enable
          value: "{{ 'true' if kube_vip_lb_enable else 'false' }}"
        - name: lb_port
          value: "{{ kube_vip_port | string }}"
        - name: lb_fwdmethod
          value: "{{ kube_vip_lb_fwdmethod }}"
        - name: prometheus_server
          value: "{{ kube_vip_metrics_bind }}"
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
          drop:
            - ALL
      volumeMounts:
        - mountPath: /etc/kubernetes/admin.conf
          name: kubeconfig
          readOnly: true
  hostAliases:
    - ip: 127.0.0.1
      hostnames:
        - kubernetes
  volumes:
    - name: kubeconfig
      hostPath:
        path: /etc/kubernetes/admin.conf