apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-prometheus-datasource
  namespace: {{ grafana_namespace }}
  labels:
    grafana_datasource: "1"
data:
  prometheus-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: {{ grafana_prometheus_datasource_name }}
        uid: {{ grafana_prometheus_datasource_uid }}
        type: prometheus
        access: proxy
        url: {{ grafana_prometheus_datasource_url }}
        isDefault: true
        editable: true