apiVersion: networking.istio.io/v1
kind: Gateway
metadata:
  name: {{ istio_public_gateway_name }}
  namespace: {{ istio_public_gateway_namespace }}
spec:
  selector:
{% for k, v in istio_public_gateway_selector.items() %}
    {{ k }}: {{ v }}
{% endfor %}
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
{% for route in istio_public_routes %}
        - {{ route.host }}
{% endfor %}

{% for route in istio_public_routes %}
---
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{ route.name }}
  namespace: {{ route.namespace }}
spec:
  hosts:
    - {{ route.host }}
  gateways:
    - {{ istio_public_gateway_namespace }}/{{ istio_public_gateway_name }}
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: {{ route.serviceHost }}
            port:
              number: {{ route.servicePort }}
{% endfor %}
