# ===============================
# Kiali Operator Helm values
# ===============================

cr:
  create: false

resources:
  requests:
    cpu: "{{ kiali_operator_cpu_request }}"
    memory: "{{ kiali_operator_memory_request }}"
  limits:
    cpu: "{{ kiali_operator_cpu_limit }}"
    memory: "{{ kiali_operator_memory_limit }}"
