{% if kiali_enabled | bool %}
---
apiVersion: kiali.io/v1alpha1
kind: Kiali
metadata:
  name: {{ kiali_instance_name }}
  namespace: {{ kiali_instance_namespace }}
spec:
  auth:
    strategy: "{{ kiali_auth_strategy }}"

  deployment:
    accessible_namespaces:
      - "**"
    instance_name: {{ kiali_instance_name }}
    replicas: 1
    service_type: ClusterIP
    resources:
      requests:
        cpu: "{{ kiali_cpu_request }}"
        memory: "{{ kiali_memory_request }}"
      limits:
        cpu: "{{ kiali_cpu_limit }}"
        memory: "{{ kiali_memory_limit }}"

  server:
    web_root: /
    port: 20001
    observability:
      metrics:
        enabled: true

  external_services:
    istio:
      root_namespace: {{ kiali_istio_namespace }}

    prometheus:
      enabled: true
      url: "{{ kiali_prometheus_url }}"

    grafana:
      enabled: {{ kiali_grafana_enabled | bool | lower }}
      internal_url: "{{ kiali_grafana_internal_url }}"
      external_url: "{{ kiali_grafana_external_url }}"

{% if kiali_tracing_enabled | bool %}
    tracing:
      enabled: true
      provider: "tempo"
      internal_url: "{{ kiali_tracing_internal_url }}"
      external_url: "{{ kiali_tracing_external_url }}"
      use_grpc: false
      tempo_config:
        datasource_uid: "{{ kiali_tempo_datasource_uid }}"
{% else %}
    tracing:
      enabled: false
{% endif %}
{% endif %}
